services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock
      - ./frontend_client:/frontend_client
    env_file:
      - ./backend/.env
    restart: always
  grader-base:
    build: 
      context: ./grader
      dockerfile: Dockerfile.exec
    image: exam-grader-iso