version: '3.8'

services:
  # This is your Flask Backend
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      # This links your local grader folder into the backend container
      - ./grader/temp_submissions:/app/temp_submissions
    env_file:
      - ./backend/.env
    restart: always

  # Optional: A simple service to keep your Grader image ready
  grader-base:
    build: 
      context: ./grader
      dockerfile: Dockerfile.exec
    image: exam-grader-iso
    # This won't run as a container, just ensures the image is built